[2018-12-17 16:56] Jackie78De opened #1 "Syntax error"
The script doesn't work on my Raspi3 running Pihole:

`pi@pihole3:~ $ sudo python /home/pi/youtube.sh
  File "/home/pi/youtube.sh", line 9
    piholeIPV4=`hostname -I |awk '{print $1}'`
                                            ^
SyntaxError: invalid syntax`

Anything except gawk that needs to be installed?

[2018-12-17 19:00] kboghdady commented on #1
I will look into that Jackie78De  and get back to you as soon as I can

[2018-12-19 15:46] kboghdady commented on #1
Hey Jackie,
I am sorry.I had a wrong line in the documentation.
You should run the code only with  sudo /home/pi/youtube.sh
My apology about that.

[2018-12-19 15:46] #1 closed

[2019-03-13 21:07] mateblue opened #2 "autoinstall gawk"
What about adding "-y" to autoinstall gawk on at the end of line 37 on youtube.sh ?

[2019-03-15 01:56] kboghdady commented on #2
Thank you
I just added -y to line 37

[2019-03-15 01:56] #2 closed

[2019-06-26 17:32] tutyamxx opened #3 "Random local IP Addresses to black list?"
So, I see some random ip addresses such as 8.8.8 or random local ip's from my devices added to blacklist? also it adds a ```<CNAME>``` as well. Fix please?

[2019-06-27 17:04] kboghdady commented on #3
Sure I will work on that

[2019-07-11 15:36] zwit5 commented on #3
Having the same issue. Including DNS IPs as well.

[2019-07-12 14:13] kboghdady commented on #3
I am sorry I was busy the last couple weeks. I will be working on it this weekend.
Thank y'all for your feedback

[2019-07-13 15:04] zwit5 opened #4 "after longer usage of script youtube stops to open videos"
after several days of using script I have noticed that videos aren't launching. I commented section for analysing the logs and left downloading blacklists only and rebuild blacklist. Videos started to work fine. So section for analysing the logs needs some readjustments ;-) Nevertheless I appreciate the idea :-)

[2019-07-13 18:27] kboghdady commented on #4
Thank you so much zwit5 first for using the script, and also your feedback
I will work on that as well

[2019-07-16 06:36] kboghdady commented on #3
Fixed the issues. Thank y'all for your feedback. I really appreciate it

[2019-07-16 06:36] #3 closed

[2019-07-16 06:37] kboghdady commented on #4
I just updated the script. could you please update your script and let me know how it goes

[2019-07-16 06:37] #4 closed

[2019-07-23 07:07] smokingwheels opened #5 "Is there anyway to add these?"
I'm having like these turn up, is there anyway you could add them to your script please ?

p2-galfbu4g6o4ms-recvcqnkwlxh4nur-868998-i1-v6exp3.ds.metric.gstatic.com
p2-galfbu4g6o4ms-recvcqnkwlxh4nur-868998-s1-v6exp3-v4.metric.gstatic.com
p2-galfbu4g6o4ms-recvcqnkwlxh4nur-if-v6exp3-v4.metric.gstatic.com
p2-nfj5wqfccwaig-u32h7kfqb55lkgxx-755042-i1-v6exp3.ds.metric.gstatic.com
p2-nfj5wqfccwaig-u32h7kf

[2019-07-24 21:44] kboghdady commented on #5
are these youtube ads ?

[2019-07-29 19:24] #5 closed

[2019-08-29 23:26] bbakermmc opened #8 "Unraid"
Do you know how to get this to work in unraid?

[2019-08-30 02:12] mostm opened #9 "Doesn't work with CentOS due to gawk?"
Hi there!
I tried this with my CentOS Pi-Hole installation, and it fails.

[2019-08-30 18:12] kboghdady commented on #8
unfortunately, I am not familiar with unraid.
I have looked up the OS, but couldn't know if it is linux or not

[2019-08-30 18:13] kboghdady commented on #9
you can use this command to install it on CentOS
yum install gawk

[2019-08-30 18:14] kboghdady commented on #9
Replace line 41
sudo yum install gawk

[2019-08-30 18:14] #9 closed

[2019-08-30 18:15] #8 closed

[2019-09-15 17:23] GuillaumeBeaudoin opened #11 "block youtube video itself"

[2019-09-15 17:39] kboghdady commented on #11
I will investigate this

[2019-09-16 00:37] GuillaumeBeaudoin commented on #11
r2---sn-8qu-t0a6.googlevideo.com
r2---sn-8qu-t0ay.googlevideo.com
r4---sn-t0a7ln7d.googlevideo.com
r5---sn-8qu-t0a6.googlevideo.com

i add to manually add these to white list so my video could play, i had many more but i updated my block list and i lost few domain

[2019-09-23 21:55] mzy2240 opened #12 "no black.list or blacklist file in the folder"
Howdy!

I am trying to use your script, however in the /etc/pihole/ folder I did not find black.list or blacklist file, the only file seems to be relevant to the ads list is called adlists.list. Will that affect the usage of the script? The pi-hole version is 4.3.2 (latest). Thank you in advance!

[2019-09-24 19:07] kboghdady commented on #12
let me investigate and get back to you.

[2019-09-24 19:15] kboghdady commented on #12
so the blacklist.txt is add once you add a domain name to the pihole; Otherwise, it won't be generated.
so, I assume you didn't add any blacklist into your domain before.
it should not affect the usage.
Please feel free to ping me again if you have any questions.

[2019-09-24 19:34] #12 closed

[2019-09-25 15:28] kboghdady commented on #11
I have fixed the issue by making the updates to the file, and getting the list from the GitHub file which will be updated every day or week.

[2019-09-25 15:28] #11 closed

[2019-09-25 21:15] mzy2240 commented on #12
Hi @kboghdady, I added a domain name to the pihole so now there are two blacklist files in the folder which is good. However, after one day's monitoring, the script does not work and nothing added to these blacklist files. Do you know the reason for that?

[2019-09-25 21:29] kboghdady commented on #12
Are you using sudo ?

[2019-09-25 21:30] kboghdady commented on #12
review the readme
0 */4 * * * sudo /home/pi/youTube_ads_4_pi-hole/youtube.sh >/dev/null

[2019-09-25 21:38] mzy2240 commented on #12
Yes I am using sudo and exactly the same. One thing might be the reason is that I'm using Ubuntu on a SBC (aarch64, but not raspbian), so that might be the reason?

[2019-09-25 21:42] mzy2240 commented on #12
check the crontab log, did not see any errors nor any info that proves the script has been executed

[2019-09-25 21:44] kboghdady commented on #12
I am not familiar with SBC
but you can run the script manually and see if it work or not.
you should be ended with black.list with the same lines as the one on the repo with 19120 lines

[2019-09-25 21:55] mzy2240 commented on #12
Yes it's working. So I guess I need to give the youtube.sh script a privilege by using chmod +x?

[2019-09-25 23:07] kboghdady commented on #12
yes
Good luck

[2019-09-25 23:13] kboghdady commented on #12
Please let  me know if that was the issue so I can update the Readme

[2019-09-30 23:01] mzy2240 opened #13 "Watch history is blocked"
@kboghdady The tracking watch history function seems to be blocked, verified using the Android Youtube App.

[2019-10-01 05:35] kboghdady commented on #13
so could you please explain more.
Also, if you run on the pihole this command ```pihole -t```
which will show a live feed of what is blocked or allowed via the pihole

[2019-10-03 11:36] Retch opened #14 "How is it possible to add this list in pi hole running in docker on omv?"

[2019-10-03 15:32] eiabea commented on #14
Exec the running container with:

[code]

and follow the instructions in the readme. This is not a permanent solution, but if you don't remove the container it will continue to work

[2019-10-04 05:12] HellIsCool commented on #13
the url we are blocking for the add it seem that in that url one is for history recording,

[2019-10-04 05:17] HellIsCool opened #15 "How to incorporate this list in gravity in pie hole"
we have this list in local raspberry pi but when i am adding /home/pi/youTube_ads_4_pi-hole/black.list it is showing following error.

[i] Target: local (black.list)
  [✗] Status: Connection Refused
  [✗] List download failed: no cached list available

[2019-10-04 06:10] #14 closed

[2019-10-04 06:11] kboghdady commented on #15
the black.list is not formatted for the gravity list. I am working on it and should be ready in the near future

[2019-10-04 06:11] #15 closed

[2019-10-04 15:54] kboghdady commented on #13
@HellIsCool not sure what you mean

[2019-10-05 06:32] HellIsCool commented on #13
s.youtube.com this link recorders the history. Please check

[2019-10-05 22:10] kboghdady commented on #13
I checked, and I am not blocking that DNS.
Maybe you need to clear your black.list and have a fresh one

[2019-10-09 17:17] kboghdady commented on #13
I am sorry I will close the issue as I didn't get any other feedback

[2019-10-09 17:17] #13 closed

[2019-10-10 07:47] xdnroot opened #16 "is it work on YT mobile?"
I tried in Apps Youtube on mobile device, but the ads on video still visible.

[2019-10-10 14:04] kboghdady commented on #16
I have it working on my mobile devices as long as they are connected to the wifi, and the dns is the pihole

[2019-10-11 05:29] #16 closed

[2019-10-18 23:43] scyto commented on #15
@kboghdady i had a list that was working and downloaded just fine - i was using the github raw link, but it seemed to have stopped working recently.  I am confused if the github raw link can indeed be added to the block list list of lists?  It worked for weeks?!

[2019-10-19 11:24] tonyp7 opened #17 "youTube_ads_4_pi-hole breaks youtube"
Hi,

Thanks for this script. I tried it for a while but unfortunately it looks like it ended breaking YT completely. Videos would simply not load anymore. I ended up removing the script but it seems like the script bans too many domains, or at least some domains that deliver actual content.

Sorry not really any more details to add!

[2019-10-19 19:32] kboghdady commented on #17
- Please wipe your blacklist by ``` sudo rm /etc/pihole/black* ``` or use the command ```sudo pihole -f ```
- because my previous development caused to block the youtube video itself
- The new script has been working great for me for the last couple days

[2019-10-20 10:34] tonyp7 commented on #17
Thanks I close this and will try the new version!

[2019-10-20 10:34] #17 closed

[2019-10-21 00:10] kboghdady commented on #17
Could you please let me know how it goes

[2019-10-28 04:25] tonyp7 commented on #17
hey I figured I should update you: I still get a lot of ads but at least Youtube is no longer broken

[2019-11-24 11:31] JesperKuipers opened #18 "Ur list is blocking youtube video's aswell."
Ur list is blocking yt videos.

[2019-11-27 00:52] samuelrhaynes opened #19 "Can't open blacklist"
Hey mate, loving the script, however I think it's so large it causes the pihole admin to freeze if I try and load the blacklist

Anyone else have this issue? Any work arounds?

[2019-11-29 14:50] SamboMambo commented on #19
I have this issue, i couldn't tell why it was freezing then i realized it's updating the list every hour

[2019-11-29 20:51] DemonRok commented on #19
Hi @samuelrhaynes and @SamboMambo!

Freezeing is normal, blacklist contains more than 22,000 lines 💃
Instead of using the youtube.sh script and running the blacklist every hour, I found much more convenient to insert the raw link of the file youtubelist.txt directly in the "Blocklists used to generate Pi-hole's Gravity" settings.
[code]
I have also modified crontab to perform Pi-hole's Gravity gen

[2019-11-29 21:04] kboghdady commented on #19
you can add this link https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt

 into this file /etc/pihole/adlists.list

[2019-11-29 21:09] kboghdady commented on #18
- Please wipe your blacklist by ``` sudo rm /etc/pihole/black* ``` or use the command ```sudo pihole -f ```
- because my previous development caused to block the youtube video itself
- The new script has been working great for me for the last couple days

[2019-11-29 21:11] kboghdady commented on #19
it is very challenging to make a long list of all the youtube list into a file. especially if you want to edit the blacklist via the pihole GUI

[2019-11-29 21:27] kboghdady commented on #18
you can also use ```pihole -t``` command to check which DNS is blocked

[2019-12-02 08:03] SamboMambo opened #20 "Not working properly"
still getting regular ads, and after the ads finished the video won't load

[2019-12-03 17:13] kboghdady commented on #20
hi @SamboMambo could you please run this command on your pinhole ```pihole -t``` then open a youtube video then send me the DNS or the logs if the video did get ads

[2019-12-03 17:13] #19 closed

[2019-12-03 17:13] #18 closed

[2019-12-03 17:40] SamboMambo commented on #20
All requests going from 192.168.1.108, netflix is running on 199

played a random video, first time video didn't want to load, after a couple of refreses, it loaded 2 ads

Dec  3 21:37:11 dnsmasq[17086]: cached d6wjo2hisqfy2.cloudfront.net is 143.204.106.118
Dec  3 21:37:11 dnsmasq[17086]: cached d6wjo2hisqfy2.cloudfront.net is 143.204.106.76
Dec  3 21:37:11 dnsmasq[17086]: cached d6wjo2hisqfy2.cl

[2019-12-03 18:00] SamboMambo commented on #20
here you can see i'm trying to play a video on 192.168.1.250 but it doesn't want to load, i have closed the video and opened it several times

[code]

[2019-12-04 19:26] kboghdady commented on #20
I will check it this weekend and get back to you

[2019-12-05 11:42] ahirmayur commented on #20
I'm having similar issue as well. Lots of YouTube videos simply doesn't load at all, few loads for initial 2-3 seconds, and nothing after that.

here's output of `pihole -t` command.

[code]

[2019-12-10 16:13] kboghdady commented on #20
Thank you @ahirmayur  for sharing the logs. I will be looking into that

[2019-12-20 20:10] Profesyor opened #21 "Not working anymore!"
Getting anoying, youtube black screens, videos not loading you need to go back or refresh ads still going tru! If the issue cannot be roleved please provide an easy way to uninstall/remove!

[2019-12-20 20:16] kboghdady commented on #21
if you would like to uninstall :
1- remove the cron job
2- Please wipe your blacklist by sudo rm /etc/pihole/black*

I will look into the issue, but it is holiday time and I am quite busy. it would be helpful if you run ```pihole -t``` and let me know which DNS is showing while you have the black screen.

[2019-12-25 19:08] frunkAF commented on #21
Happy Holidays!

I ran a pihole -t while trying to load up a youtube video and got this...

`19:00:38 dnsmasq[788]: query[A] r5---sn-a5meknzs.googlevideo.com from 10.255.255.1
19:00:38 dnsmasq[788]: /etc/pihole/gravity.list r5---sn-a5meknzs.googlevideo.com is 0.0.0.0
19:00:40 dnsmasq[788]: query[A] r6---sn-a5mlrnel.googlevideo.com from 10.255.255.1
19:00:40 dnsmasq[788]: /etc/pihole/gravity.list r

[2019-12-25 20:41] Calius opened #22 "Merge error in blacklist file and youtube.sh"
Hi,

there is a merge error in your blacklist file on line 20102:

<<<<<<< HEAD

Also there is a "====" command on line 21 of the youtube.sh script which does nothing, except throw an "unknown command" error.

[2019-12-26 13:54] msberends opened #23 "Transform list to valid blocklist"
If you have `black.list` transform to a valid (Pi-hole) blacklist like https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts, users would only need to add it under `their-pi-hole-ip/settings.php?tab=blocklists`.

It is very cumbersome to have users set a cronjob and add EVERYTHING you have to their own 'personal' Blacklist menu.

If you transform the file yourself before you push a comm

[2019-12-26 14:00] msberends commented on #23
Example based on your file (with #22 fixed): https://gist.github.com/msberends/992ad46b173b9c0f1bc3add21fcebed2

And raw to use in the menu I mentioned: https://gist.githubusercontent.com/msberends/992ad46b173b9c0f1bc3add21fcebed2/raw/a7312e94571e6cf819b0d581a6ff21f0aaf620f1/YouTube-ads-block.txt

[2019-12-26 20:53] kboghdady commented on #22
Fixed the typo issue

[2019-12-26 20:53] #22 closed

[2019-12-26 20:55] kboghdady commented on #23
I do both options in the repo.
here is the valid gravity list if you would like to add it
https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/master/youtubelist.txt

[2019-12-28 16:36] Profesyor commented on #21
My problem described exactly, thanks.

[2019-12-29 09:12] #23 closed

[2020-01-01 00:16] Profesyor commented on #21
Removed, is now even worse that the previous update. YouTube is too big for this, thanks anyway.

[2020-01-12 06:52] nguye205 opened #24 "False Positive"
Video doesn't play when  **r5---sn-vgqsknll.googlevideo.com** is blocked

[2020-01-13 01:31] gitcloneguy commented on #24
than take it out @nguye205

[2020-01-22 02:53] tutyamxx commented on #21
Don't have to be rude ^. At least someone is doing something. Stop using it and move on with your life

[2020-01-22 04:44] kboghdady commented on #21
I don’t appreciate the way you are talking or the way you asking for help.
I am glad that you removed it.
At the end of the day I invest the time I could to help people.

[2020-01-22 04:44] #21 closed

[2020-01-22 13:58] Profesyor commented on #20
Issue #21 NOW CLOSED! Was it ever fixed?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on this thread, so it's you.

1/21/2020 10:53 PM Alexandru Maxim:
Don't have to be rude ^. At least someone is doing something. Stop using it and move on with your life.
But you couldn't live with that!

[2020-01-22 15:43] Profesyor commented on #20
Issue #21  NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 22:21] Profesyor commented on #20
Where is #21

RUDE! Can't take criticism, sends rude anonymous replies and deletes comment and even his rude replies. REPORTED!
1/22/2020 12:44 AM Kiro: I don’t appreciate the way you are talking or the way you asking for help.
I am glad that you removed it.
At the end of the day I invest the time I could to help people.

1/21/2020 10:53 PM Alexandru Maxim: Don't have to be rude ^. At least someon

[2020-01-22 22:21] Profesyor commented on #24
Where is #21

RUDE! Can't take criticism, sends rude anonymous replies and deletes comment and even his rude replies. REPORTED!
1/22/2020 12:44 AM Kiro: I don’t appreciate the way you are talking or the way you asking for help.
I am glad that you removed it.
At the end of the day I invest the time I could to help people.

1/21/2020 10:53 PM Alexandru Maxim: Don't have to be rude ^. At least someon

[2020-01-22 22:21] Profesyor opened #26 "RUDE"
Where is #21

RUDE! Can't take criticism, sends rude anonymous replies and deletes comment and even his rude replies. REPORTED!
1/22/2020 12:44 AM Kiro: I don’t appreciate the way you are talking or the way you asking for help.
I am glad that you removed it.
At the end of the day I invest the time I could to help people.

1/21/2020 10:53 PM Alexandru Maxim: Don't have to be rude ^. At least someon

[2020-01-22 22:22] Profesyor opened #27 "Stay away from this fool."
Where is #21

RUDE! Can't take criticism, sends rude anonymous replies and deletes comment and even his rude replies. REPORTED!
1/22/2020 12:44 AM Kiro: I don’t appreciate the way you are talking or the way you asking for help.
I am glad that you removed it.
At the end of the day I invest the time I could to help people.

1/21/2020 10:53 PM Alexandru Maxim: Don't have to be rude ^. At least someon

[2020-01-22 22:24] Profesyor opened #28 "IT DON'T WORK YouTube BLACK SCREEN"
Where is #21

RUDE! Can't take criticism, sends rude anonymous replies and deletes comment and even his rude replies. REPORTED!
1/22/2020 12:44 AM Kiro: I don’t appreciate the way you are talking or the way you asking for help.
I am glad that you removed it.
At the end of the day I invest the time I could to help people.

1/21/2020 10:53 PM Alexandru Maxim: Don't have to be rude ^. At least someon

[2020-01-22 22:38] tutyamxx commented on #26
Aww, poor you. What the actual heck is this drama on github? lmao

[2020-01-22 22:40] Profesyor commented on #26
Here we go, he mustered some courage and posted.

[2020-01-22 22:41] tutyamxx commented on #26
Dude, muster some guts and show your profile with more content such as programming. You do realise you spammed a member probably passionate like myself, trying to help out noobs like you with FREE content made in his free time for your youtube crybaby? Come on, move on.

[2020-01-22 22:47] Profesyor commented on #26
Is this how you behave fool? What content, what programming. Who said I was a programmer??? I'm here to tell you that YOUR CRAPPY PROGRAMMING IS NOT WORKING ANYMORE. Now show some manhood and FIX IT!!!!!! What content do I need to tell you THE THING IS CAUSING YOUTUBE BLACK SCREENS. Go away fool, return your man card and move on with your life!

[2020-01-22 22:48] Profesyor commented on #26
And don't remove the comments, you COWARD!

[2020-01-22 23:06] Profesyor opened #29 "This is my BLACK SCREEN Story."
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 23:06] Profesyor opened #30 "Don't Delete this!"
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 23:07] Profesyor commented on #20
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 23:08] Profesyor commented on #24
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 23:32] Profesyor commented on #28
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 23:32] Profesyor commented on #27
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-22 23:42] Profesyor commented on #24
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-23 00:31] Profesyor commented on #24
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-23 00:32] Profesyor commented on #24
Keep deleting.

[2020-01-23 00:32] Profesyor opened #31 "Don't work!!!"
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-23 00:39] Profesyor commented on #20
Issue #21 NOW CLOSED AND REMOVED! Was it ever fixed? Cancel culture much?

Ok lets talk like real men here.

You are A coward! Yesterday you sent me a private message telling me to "move on with my life" a message I couldn't find on the issue #21, so it's you. Same thing you did to someone who pointed out the line that caused the black screens, (I wish I could still see it now). You told him "add

[2020-01-24 16:49] kstka opened #32 "How do you create the list?"
Hi.

I have a guess that your list works for US mostly. Because as soos as I switch my youtube location and languege to US, I get much less ads than when Im "located" in Russia.

Could you please share the way you create the list? Then I will be able to create a Russian version for myself and finally get rid of ads.

Thanks

[2020-01-29 17:29] kboghdady commented on #32
hi @kstka I will upload it in the next week or so.

[2020-01-29 17:44] kstka commented on #32
Thanks, I will wait for it.

BTW I have tested it out for some more and I can say that your list works great for US, no ads at all

[2020-01-29 17:50] kboghdady commented on #32
Thank you very much @kstka for your encouragement and feedback

[2020-02-02 22:29] nikeee commented on #32
I'm also interested in the way of creating the list.

The current list does not work in Germany.

[2020-02-03 17:08] kboghdady commented on #32
@nikeee  I will try to upload it this weekend. I am sorry for the delay, but I have a crazy busy schedule these days

[2020-02-06 20:01] qnarkill opened #33 "lots of sites missing"
https://www.rtsak.com/cidr/2001:998::-30

IP | Type | Hostname
-- | -- | --
2001:998:12:59::c | A | r1.sn-xap5-ixaz.googlevideo.com
2001:998:12:59::c | A | r1---sn-xap5-ixaz.googlevideo.com
2001:998:12:59::d | A | r2---sn-xap5-ixaz.googlevideo.com
2001:998:12:59::e | A | r3.sn-xap5-ixaz.googlevideo.com
2001:998:12:59::e | A | r3---sn-xap5-ixaz.googlevideo.com
2001:998:12:59::f | A | r4.sn-xap5-ixa

[2020-02-07 18:03] kboghdady commented on #33
so thee needs to be added to the block list?

[2020-02-11 03:57] fideld84 opened #34 "Plans to update script for use in PiHole v5 (currently in beta)"
Per this article https://pi-hole.net/2020/01/19/announcing-a-beta-test-of-pi-hole-5-0/#page-content
Moving forward, Pihole is moving to using a database (named - gravity.db) to store whitelist, blacklist, and gravity lists. This mean current scrips will have to be migrated to interacting with the database.  Any plans on doing making this happen, I'm currently on the PiHole Beta and unfortunately c

[2020-02-11 03:58] kboghdady commented on #34
Thank you very much @fideld84 for the update.
I will definitely look into that

[2020-02-11 19:52] kboghdady commented on #34
Would you be able to send me the "gravity.db" file.

[2020-02-11 23:40] fideld84 commented on #34
[gravity.zip](https://github.com/kboghdady/youTube_ads_4_pi-hole/files/4189144/gravity.zip)

[2020-02-11 23:40] kboghdady commented on #34
Thank you very much @fideld84

[2020-02-12 17:11] nik19okay opened #35 "is there a chance there will be a version for adguard home?"
I tried it in adguard home, found it not working by different format of the list, great work still, bravo.

[2020-02-13 21:11] kboghdady commented on #35
if you can send me the format of the adgaurd I might be able to replicate it.

[2020-02-14 01:01] nik19okay commented on #35
im not a pro but it seems insert "||" before every raw  and a "^" after every raw will do the job. the following are the official examples:
1. ||example.org^ – block access to the example.org domain and all its subdomains
2. @@||example.org^ – unblock access to the example.org domain and all its subdomains
3. 127.0.0.1 example.org – AdGuard Home will now return 127.0.0.1 address for the example.or

[2020-02-16 15:41] idoo commented on #33
@kboghdady looks like an answer is yes

[2020-02-17 15:48] mschabhuettl opened #36 "Invalid domains in black.list"
There are 2 lines in black.list which are invalid domains:

- Line 20102: `<<<<<<< HEAD`
- Line 20123: `=======`

Cheers!

[2020-02-21 08:43] xziBBerx opened #37 "Differences between black.list and gravity.list"
How does the shell script work? Because I can't find a path to gravity.list in youtube.sh. I use PiHole in Docker.

[2020-02-21 09:15] xziBBerx commented on #37
And how i see you grab the black.list from you repository to variable blackListFile and blacklist.
where is there the differences? And how the script fill the gravity.list?

[2020-02-28 12:30] frunkAF opened #39 "Working Blocklist entry"
Hello!

Just a suggestion,

using the script to add the blacklist to '/etc/pihole' causes the gui to chug. My preferred method is to add a url to the blocklist.

Adding the url in your instructions...

https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/master/youtubelist.txt

Doesn't get me the list.

However, adding the url you curl in your script...

https://raw.githubusercontent.com/kboghd

[2020-02-28 15:20] kboghdady commented on #39
Thank you @frunkAF I just updated the documentation

[2020-02-28 15:20] #39 closed

[2020-02-28 15:21] kboghdady commented on #37
I just updated the file name on the documentation
you can add this file https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/black.list
to your  Gravity list

[2020-02-28 15:21] #37 closed

[2020-03-01 11:49] kstka commented on #32
Sorry do disturb you, @kboghdady . Maybe you will find time to post your script\idea sooner or later.
There is no problem if it is a draft, I can code it and sent it back to you.

I have tried this project https://github.com/foae/pihole-youtube-block , but it was totally blocking youtube. So the youtube ads problem is still relevant.

Thanks!

[2020-03-02 02:16] alvaroledesma opened #40 "Youtube is also blocked along with ads"
I can't access Youtube along with the ads. I believe DNS is blocking youtube as well as ads

[2020-03-02 02:26] kboghdady commented on #36
Thank you @mschabhuettl I have just fixed it

[2020-03-02 02:26] #36 closed

[2020-03-02 02:29] kboghdady commented on #40
could you please run ```pihole -t``` while you playing youtube and it is blocked

[2020-03-02 02:33] alvaroledesma commented on #40
Yes, I ran it and see all the link being redirected to 0.0.0.0

[2020-03-02 02:35] kboghdady commented on #35
I just made the adguard list for you

[2020-03-02 02:35] #35 closed

[2020-03-02 02:36] kboghdady commented on #40
I need the logs to see it. my secript doesn't block youtube itself.

[2020-03-02 02:48] kboghdady commented on #33
done

[2020-03-02 02:48] #33 closed

[2020-03-02 03:08] kboghdady commented on #24
Thank you.
I will fix that

[2020-03-02 03:08] #24 closed

[2020-03-02 03:10] kboghdady commented on #40
Duplicate of #20

[2020-03-04 20:21] kboghdady commented on #20
I am working on it today and updating the list.
if you are using the youtube.sh script make sure to remove both :
```rm /etc/pihole/black*```
if you are using the gravity list make sure to update it

[2020-03-04 20:43] #20 closed

[2020-03-04 20:43] kboghdady commented on #40
I am working on it today and updating the list.
if you are using the youtube.sh script make sure to remove both :
rm /etc/pihole/black*
if you are using the gravity list make sure to update it

[2020-03-04 20:43] #40 closed

[2020-03-06 21:01] xziBBerx opened #41 "Video won't to start"
Hey, is it possible that the video no longer shows advertisements but does not start the video? It's stuck in an endless loop. It seems to me a lot

[2020-03-06 21:13] kboghdady commented on #41
run the pihole -r while the video is stuck and send me the logs

[2020-03-06 21:22] xziBBerx commented on #41
Here is a snippet of the pihole -t

[code]

[2020-03-06 21:24] xziBBerx commented on #41
`Mar  6 22:23:51 dnsmasq[30407]: query[AAAA] r3---sn-4g5ednld.googlevideo.com from 192.168.178.1
Mar  6 22:23:51 dnsmasq[30407]: /etc/pihole/black.list r3---sn-4g5ednld.googlevideo.com is 0.0.0.0`

[2020-03-06 22:01] xziBBerx commented on #41
`r6---sn-4g5ednee.googlevideo.com
r4---sn-4g5e6nsd.googlevideo.com
r4---sn-h0jeened.googlevideo.com
r6---sn-4g5edne7.googlevideo.com
r1---sn-4g5e6nzl.googlevideo.com
`

[2020-03-07 04:04] id4vip opened #42 "filtter youtube links from existing local pihole log"
Hello kboghdady, thanks for your expert guidance. i am running your "youtube.sh" bash command daily.  as you are expert in programming i want to suggest one more thing to add in your bash file. like system check the logs of local pihole data & filter "http: //r3---sn-uxa0n-ttjse.googlevideo. com" like address & in next circle that address also append in your blacklist.txt.

the overall mean that t

[2020-03-07 07:49] xziBBerx commented on #41
`r5---sn-4g5e6nle.googlevideo.com` also stuck

[2020-03-07 07:59] xziBBerx commented on #41
it looks very hard to filter all links that stuck. I thunk they get a daily random link
`r3---sn-4g5e6ns6.googlevideo.com
r3---sn-4g5ednsr.googlevideo.com
`

[2020-03-09 22:05] nik19okay commented on #35
I'm grateful!

[2020-03-22 14:39] fideld84 commented on #34
@kboghdady hope all is well, was wondering if you’ve had any progress/success with the Piholev5 script?

[2020-03-31 16:18] hoangaeye opened #43 "Is the blacklist still being updated?"
^^ like what the title says

[2020-04-05 16:59] kboghdady commented on #43
sorry had a glitch and I have fixed it.

[2020-04-05 16:59] #43 closed

[2020-04-12 16:54] tonyphoang commented on #43
Reopening again. It hasn't updated the blacklist in days.

[2020-04-18 15:22] redfodex opened #44 "127.0.0.1"
Hi. Can you please create a black.list file with 127.0.0.1 at the beginning of each line? I know that this can be done with scripts, but I'm not familiar with linux. I want to add this file to my router's openwrt hosts file.
Thank you!

[2020-04-20 16:30] atao opened #45 "Update daily on repo ?"
Could we add a system to send updated lists of people using the solution to this repo? In order to have daily updated lists available?

[2020-04-20 18:50] kboghdady commented on #44
you can do it via python
using this quick script

[code]

[2020-04-20 18:51] kboghdady commented on #44
good luck

[2020-04-20 18:51] #44 closed

[2020-04-29 18:15] kboghdady commented on #45
@atao  thank you for reaching out. we have already a system in place. I am just trying to enhance the scheduling during this pandemic

[2020-04-29 18:15] #45 closed

[2020-04-29 18:17] kboghdady commented on #42
Thank you @id4vip for the complment. I had that before, and I will try to make it available again.
it might take me while to have some time for now during this pandemic, but I will do my best

[2020-04-29 18:19] kboghdady commented on #41
I will implement addon to ignore list we discover it blocks the video.
We should see this shortly :)
thank you

[2020-05-04 14:43] jrwren commented on #41
r2---sn-vgqsrn7d...

also stuck.

[2020-05-12 11:39] drupol commented on #34
Why would you need that ? You just have to copy paste the URL in the UI and every week Pi Hole will update it automatically. There is no need to ship a script to update it!

[2020-05-12 15:50] kboghdady commented on #34
I agree with @drupol
just add the url to the new pihole.

[2020-05-12 15:50] #34 closed

[2020-05-13 18:01] truthsword commented on #41
I'm certain this is a daunting endeavor. As much as YT ads annoy me, I am more frustrated at the "stuck" videos, and page refreshes I must go through to play a video. I've had to whitelist many servers to regain YT usability. I believe Google has won this battle. For now, I'm taking a 6-month hiatus from this filter. Thanks for the work you've put into this.

[2020-05-16 19:23] taogre commented on #32
Hey, I'd be interested too. List does not seem to work for Switzerland...

[2020-05-16 19:58] nikeee commented on #32
@kboghdady Any news on that?

[2020-05-24 07:56] crazyquark commented on #32
Does not work for Romania

[2020-05-26 01:57] RajPatel0929 opened #46 "YouTube Ads still paying but after ads video won't load for me"
Running this on OpenWRT WRT3200ACM

YouTube Ads still paying but after ads video won't load for me

[2020-05-28 05:01] JoshALogs opened #47 "Ads still playing in browser and app (Android)"
Hi, I've recently setup a pi-hole on my network and added your list under "Adlist group management". I updated the gravity list, but YouTube ads are still playing on my Android device through the app and browser. Pi-hole seems to be working fine as it is blocking ads from other sites. Did I add your list correctly?

I'm in the United States, if that helps.

[2020-06-01 07:13] hajosattila commented on #32
Nice work, but does not work for Hungary

[2020-06-02 18:32] hejfelix opened #48 "does not work with pihole >= 5.0"
pihole moved to a database store meaning the domains should be inserted to that database instead of writing them to a file.

[2020-06-09 20:27] mortensassi commented on #48
@hejfelix do you have a workaround?

[2020-06-10 03:47] hejfelix commented on #48
No. It's not that simple. You need to use credentials and a db client so it's vastly different. On the flip side, you need less magical bash wizardry xD

[2020-06-11 13:40] mortensassi commented on #48
oh alright thank you for your reply nonetheless! i ended up setting up a cronjob to run a script i found in a post on [reddit](https://www.reddit.com/r/pihole/comments/g9ytt9/youtube_some_success_ymmv_please_test/)

[2020-06-11 15:21] kboghdady commented on #47
Hi @JoshALogs  thank you for your input.
I will check that, and I will get back to you as soon as I can

[2020-06-11 15:47] polymathuk commented on #41
Same problem with today's blocklist. Is there a fix for this yet?

[2020-06-11 15:49] kboghdady commented on #41
I will work on that this weekend and see what I can do to fix that.

[2020-06-11 15:58] polymathuk commented on #41
Hmm. I just ran pihole -r and the problem has stopped. In fact the videos now load faster than ever since there are far fewer ad DNS requests getting through :-)

[2020-06-14 10:39] SjamonDaal opened #49 "Loading until infinity"
My PiHole is blocking the advertisements but when my YouTube player hits the add block within a video it stops playing and starts loading the advertisement until the end of time.

Samsung TV Q60R YouTube Application.

[2020-06-16 17:04] kboghdady commented on #49
Thank you @SjamonDaal  I will check that.
I am sorry I have been very busy the last couple weeks

[2020-06-18 01:24] kboghdady commented on #48
I just fixed the issue with pihole V5. it is now working with it

[2020-06-18 01:24] #48 closed

[2020-06-19 06:18] pavelsnajdr opened #50 "Error running script"
Hi kboghdady,
thank you for your effort. I have problem with running script, I get this error:

pi@raspberrypi:~/youTube_ads_4_pi-hole $ sudo ./youtube.sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  757k  100  757k    0     0  1131k      0 --:--:-- --:--:-- --:--:-- 1131k
  % Tota

[2020-06-20 02:37] sroseman commented on #50
Same

[2020-06-20 04:08] stewiezc commented on #50
I deleted `sudo` from line 35 in youtube.sh and it works for me now.
https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/master/youtube.sh#L35

[2020-06-20 07:52] keerthiteja commented on #50
Same here

[2020-06-21 12:16] alia28 commented on #50
Try this https://github.com/kboghdady/youTube_ads_4_pi-hole/pull/51

[2020-06-23 02:42] bm1549 commented on #32
I'm looking forward to this as well!

[2020-06-23 19:29] #50 closed

[2020-06-23 21:00] jrow555 commented on #49
Running into the same problem over here.

Happy to provide more info on my specs.

[2020-06-25 19:48] kboghdady commented on #49
I removed a lot of DNS that goes into loop please run these commands to update your list
pihole -g ; sudo pihole restartdns

[2020-06-25 19:49] kboghdady commented on #46
I removed a lot of DNS that goes into loop please run these commands to update your list
pihole -g ; sudo pihole restartdns

[2020-06-25 19:50] kboghdady commented on #41
I removed a lot of DNS that goes into loop please run these commands to update your list
pihole -g ; sudo pihole restartdns

[2020-06-25 19:51] kboghdady commented on #41
Duplicate of #49

[2020-06-25 19:51] #41 closed

[2020-06-26 17:17] #49 closed

[2020-06-27 19:17] Surdified opened #52 ""Database Is Locked""
Upon running the script manually I am constantly greeted with "Error: database is locked" after it attempts to add any domain to the black list.

The image attached is an example of my issue:

![image](https://user-images.githubusercontent.com/49766393/85930310-31a86e00-b8b3-11ea-9341-918809154b42.png)

[2020-06-28 19:44] mikeh86 opened #53 "5 extra subdomains"
sorry changed to pull request

[2020-06-28 19:48] #53 closed

[2020-06-30 20:52] diamond-shark commented on #52
I got this same error when I was manually running. Turns out I was trying to update while the cronjob was running so that's what the error was.

[2020-07-02 15:26] menn0 opened #55 "gravity.db"
SHould a
`pihole -g`
be added to the script for V5.0 users?
  Now the updated black.list wont get into the gravity.db

[2020-07-04 15:15] MarioGK commented on #32
Any update on this issue?

[2020-07-04 17:30] ashleycawley commented on #32
I'm in the UK and I'm interested in contributing to the list or this project in general, if I can help then please let me know.

[2020-07-04 17:35] ashleycawley opened #56 "Initial Run"
Is it normal for the first run of the script to take ages? Is the first run the slowest and then subsequent runs then a lot faster?

Admitedly I know I'm running on it on a slow system (Raspberry Pi B from 2011 - 700MHz CPU) but it seems to run DietPi + PiHole nicely.

It has been running for close to an hour now, I cancelled it a while ago because I convinced myself it had got in a never ending l

[2020-07-05 05:42] denzfarid commented on #56
@ashleycawley yes, because for 1st run, this script add blocklist from this file
https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/master/youtubelist.txt

if you run it manualy and cancel, maybe some list in file youtubelist.txt already insert to database (sqlite)

use crontab for update, i run crontab every midnight for updated list, because this file (auto update) every day
https://github.

[2020-07-05 10:11] ashleycawley opened #57 "Some Legitimate Videos Blocked"
After implementing the blacklists I'm seeing some legitimate videos being blocked, the YouTube videos simply wont begin playing, witnessed on both a Roku TV Stick and on a Win7 Desktop. Most videos play fine but some do not.

I'm in the UK if that is of any relevance.

[2020-07-05 10:20] ashleycawley commented on #46
I don't understand this, could you please elaborate?

I'm very familiar with DNS, but less so with pihole.

Looking at other docs I see: `pihole -g`:
_"This will for a download of any updates from the third-party block lists that we source. By default, this command runs once a week via cron, so there’s no need to run it manually unless you want to get some updated lists or you run into a problem w

[2020-07-05 10:22] ashleycawley commented on #56
Thanks for the heads-up.

I understood that it would be adding all of those lines to the blacklist and I appreciate that file is 22,904 lines in length, just what I didn't expect is that it would take in excess of 1 hour for it to add those enteries into the blacklist.

If this is the case on some systems I think the read me should be adjusted so that it does not recommend entering in a cron-task

[2020-07-06 16:49] RobinFrcd commented on #57
Same here on firefox/chrome on MacOS.

3 entries were blocked:

- `r2---sn-hp57yn7r.googlevideo.com`
- `r3---sn-4g5e6nsz.googlevideo.com`
- `r3---sn-25ge7nse.googlevideo.com`

I guess one of them is used to serve the video itself

[2020-07-06 19:01] kboghdady commented on #56
hi @ashleycawley
running with old pi definitely is an issue.
I would suggest not to use the youtube.sh, and start using the black.list file to be added to your gravity list and have a cron job to update the list using pihole -g

[2020-07-06 19:21] #56 closed

[2020-07-06 19:21] kboghdady commented on #55
yeah you can make crontab job to run the pihole -g to update the db

[2020-07-06 19:21] #55 closed

[2020-07-06 19:22] kboghdady commented on #52
yeah just make sure the script isn't running

[2020-07-06 19:22] #52 closed

[2020-07-06 19:24] kboghdady commented on #47
Hi @JoshALogs
could you please make sure that device has the DNS of your pi-hole

[2020-07-06 19:25] kboghdady commented on #46
@ashleycawley  if you are using the gravity list not the script you can update the using pihole -g

[2020-07-06 21:20] one800J commented on #57
Understatement of the year. Blocked every youtube video. Was up all night, last 12 hours trying to figure it out. You can't. They reuse addresses for videos and if one if blocked it will just try and try again using a new number.  Now I'm going to just completely wipe my pi hole and start over.  Ad Block in firefox has had YouTube ad blocking down for years.  No idea how they do it.  Every other b

[2020-07-06 21:33] ashleycawley commented on #57
@one800J thats a really sucky thing to do - don’t thumbs down videos just because you don’t like ads, stop using YouTube if you find it that abhorrent. Some content creators don’t even have the decision whether an Ad is shown on their video or not sometimes Google just makes that decision for them & pockets the money them-self (I speak from experience there). That sucks for the content creator who

[2020-07-07 11:37] one800J commented on #57
👎. First off yeah ah they do. They choose to monotone or not. Heck even as breaks. How many ads. Can the user skip the ad. If they don’t make any money from it it’s only because they used someone else’s copy written material in it like a song.  And I am a film/TV editor. I’ve worked years on projects only to have people crap all over them. It’s part of the biz. Grow a pair. There are many other wa

[2020-07-08 20:52] franz-josef-kaiser commented on #32
Opening up the way you generate the list, I might be able to set up a cron myself to fetch the list for Austria and push automated PRs.

[2020-07-09 03:04] yotam-nots commented on #57
@one800J
[code]

[2020-07-09 14:05] T-IOOO opened #58 "Ads country-specific?"
I have tried this list for about a week now. Hard to say whether it’s working or not but one thing is for sure, the only ads I am seeing right now is country-specific. I only see ads in my native language. Just want to let you know. Maybe a domain change will do it?

[2020-07-12 16:45] MarioGK commented on #58
Some people(me included) have noticed that this list works best in the US only, we are waiting and expecting the Author of this script release a way we can make lists for other countries lists as well.

[2020-07-12 16:58] T-IOOO commented on #58
That would be great, it would be awesome if pi-hole or another project could grab and store links automatically in this list while watching clips on youtube.

[2020-07-12 17:33] ashleycawley commented on #57
I stopped reading from that point on, you obviously don't comprehend the full scope of what can happen on the YouTube ecosystem. As I said in my prior comment I speak from experience. I was a successful content-creator on YT (for a hobby) before Ad's were even a thing on YT and before HD cameras. I had 40K subscribers, when Ads came to YT, I purposely choose not to display Ads on any of my videos

[2020-07-17 16:56] AtomynosAtom opened #59 "I don't like the way this is implemented."
I do not think so the way you implement the way of importing the domains to pi hole appropriate. Where you import each domain separately. I tried this other way by using pihole5-list-tool. I could easily import a bulk of lists as white lists or as blacklists. I do not understand this approach of yours to import the domains one by one. This is very time consuming and also annoying to disable. Could

[2020-07-17 17:13] kboghdady commented on #59
I have tried to import it all in one line, but then a lot of users reports they are having issues

[2020-07-17 17:46] AtomynosAtom commented on #59
Did you try using pihole5-list-tool?

[2020-07-17 17:52] kboghdady commented on #59
no I didn't

[2020-07-21 16:31] SoftwareRat commented on #57
i dont give a fuck about them. They earn too much money just for playing some games or talking.

[2020-07-22 19:46] Stephen988 commented on #58
After some day of testing this list don't block any ads for my country: Italy, hope in near future.

[2020-07-24 16:44] #57 closed

[2020-07-24 16:45] kboghdady commented on #58
Duplicate of #32

[2020-07-24 16:45] #58 closed

[2020-07-24 17:00] kboghdady commented on #42
@id4vip I just made the update so you can include the domain into the ignore.list and it will be removed.

[2020-07-24 17:00] #42 closed

[2020-07-24 17:00] #46 closed

[2020-07-24 17:01] kboghdady commented on #59
if you have a suggestion please feel free to add them, and I will review the code and merge it

[2020-07-24 17:01] #59 closed

[2020-07-24 17:02] #47 closed

[2020-07-27 08:06] mittus commented on #32
My pihole hosted on Moscow, I use United States location for YouTube confifg, but seen Ukranian Ads. Installation youTube_ads_4_pi-hole don't resolve my problem. It only need installed pihole server in US?

[2020-07-27 18:06] LaNouille974 opened #60 "Videos won't start"
Hi ! Thanks for your job.

Videos won't start/nor autoplay until I restart the video itself.. .

How to fix that or remove all entries from the blocklist after running your script for months?

Thanks a lot.

[2020-07-31 06:56] ChiefZack17 opened #61 "YouTube Videos not Playing"
For some reason, YouTube videos have been unable to load since this morning.

https://tricorder.pi-hole.net/1l8hjn93cy

[2020-08-01 11:14] sultanamoa commented on #32
@kboghdady thanks for this list , as for UAE, & KSA this YouTube Ad blocking will note work because of referent servers for referent locations can you pleas share with us the Script that you are using to collect the ad DNS from the Pi logs so that i can filter my network traffic and share the list for referent contrary's ,

thanks

[2020-08-01 11:53] meuter opened #62 "Not really an issue, just wanted to say thanks!"
👍

[2020-08-01 11:53] #62 closed

[2020-08-01 11:53] meuter commented on #62
👍

[2020-08-01 14:46] Mxtchhel commented on #61
Same issue

[2020-08-01 22:29] ChiefZack17 commented on #61
Rather than deactivate pi hole, I deactivated this gravity list only to find that the installation added ~20000 blacklisted domains.

The script they ran manually added them all to the exact blacklist so I entered,

sudo sqlite3 /etc/pihole/gravity.db "delete from domainlist where type=1;"

I also edited
sudo crontab -e
to remove the scheduled update line and deleted the folder from the directory.

[2020-08-03 15:29] k-rock opened #63 "what is the difference (list vs. script)?"
Hi - what is the difference in adding the block list (https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt) to Pi-Hole vs. running this shell script?

Do they result in the same behavior?

[2020-08-03 15:34] T-IOOO commented on #63
I assume no difference at all. I am running pi-hole with the raw list added. Ocasionally running "pihole -g" over SSH

[2020-08-03 18:32] marcinlubojanski commented on #61
I don't have pihole but instead I run dnsmasq with custom hosts file on my padavan enabled router. I have downloaded the list of blacklisted hosts, and added to the hosts with 0.0.0.0 IP address.  Tested with ping, it resolves to localhots now. But if I play youtube vides form mobile (which uses my router as DNS) I still see lot of ads. I didn't use youtube from few days so I doub't the IP address

[2020-08-03 19:25] Mxtchhel commented on #61
@ChiefZack17 Idk what you mean, I'm new with Raspberry Pi and Pi-hole and such and never tried this kind of things before haha

[2020-08-05 12:26] TechKat commented on #63
Same thing. Except using just the list, your PiHole will update it every Sunday (default setting).
Using the script, which runs every hour if you follow the instructions, will update the blacklist every hour as described.

YouTube will always be changing their domains to get around blockers. If you went by just the list, you'll probably get the occasional ad here and there. But by script, you're a

[2020-08-06 01:49] kboghdady commented on #63
- The script will work better if you are outside the united states as it collects the domains from your own pihole that you see, and you need to maintain the actual domains in case there is one that blocks your youtube where you need to put the DNS into the ignore.txt file.
- the list works best in the US and I maintain it to make sure it doesn't block the youtube.

[2020-08-06 01:49] #63 closed

[2020-08-06 01:50] kboghdady commented on #62
you are more than welcome @meuter. I appreciate it, and glad that you find it useful.

[2020-08-06 01:52] kboghdady commented on #60
I updated the script to leverage ignore.txt in case some DNS was blocking the actual youtube video

[2020-08-06 01:52] #60 closed

[2020-08-06 01:54] kboghdady commented on #61
I updated the DNS list to eliminate the DNS that blocks the actual youtube videos.
Also, I included update the script to look into ignore.txt to remove any DNS you/I encounter that blocking the video.
Good luck :) and be safe

[2020-08-06 01:54] #61 closed

[2020-08-06 07:53] Snoopgtg commented on #32
@kboghdady how it customize for any country?

[2020-08-06 09:39] sultanamoa commented on #32
@kboghdady can you please share the script

[2020-08-06 11:19] RCH-9 commented on #32
I'm currently trying foae/pihole-youtube-block to get the domain list from the logs. It appears to be working although the blocking is obviously retroactive as the ad has to be shown for its domain to appear in the logs.

[2020-08-09 17:50] zxqs commented on #32
@RCH-9 can't we somehow crowd-source domain collection?

[2020-08-09 19:39] RCH-9 commented on #32
I think I'm going to abandon trying to block via DNS, it's just too unreliable because ads and videos are served from the same domains. If you block ads, it's inevitable you will block videos as well.

[2020-08-09 22:55] franz-josef-kaiser commented on #32
I believe @RCH-9 is searching for a way to make this a business model, so there's no chance that he will open up and crowd source list making. Guess we can drop out and abandon it here.

[2020-08-10 00:13] zxqs commented on #32
@RCH-9  I might do the same, I'm just trying to avoid the hassle of setting up Kodi on a separate device and I kinda like the network wide blocking. I tried this list with US VPN and you're right, it's not really reliable, it blocks videos probably 7 out of ten times but also there are false positives and when it happens it is really annoying

[2020-08-10 07:20] RCH-9 commented on #32
What on earth are you talking about? I simply made a list using the tool mentioned by kstka on March 1st and tried that. Like any DNS method for YT, it blocks ads but also blocks the videos. It's perfectly free for you to try yourself.

[2020-08-11 15:25] franz-josef-kaiser commented on #32
@RCH-9 my apologies!

[2020-08-17 02:14] ybaidiuk opened #64 "Bed desctiption on README.md"
Nothing say about changing script youtube.sh !
add lines to desctiptions!

#change  line in script (repoDir) /PATH_TO_REPO/youTube_ads_4_pi-hole/youtube.sh
 repoDir='/PATH_TO_REPO/youTube_ads_4_pi-hole'

[2020-08-17 12:13] ybaidiuk opened #65 "Script working not as expected."
I have expected that script will pull and update periodically list of DNS.
What i get:
1. Instead of list each item separate. (for deleting is easier to reinstall pi-hole)
2. black.list and youtube list is just save filese.
3. Pi-hole can update lists itself.
4. Bad description.

[2020-08-17 13:05] kboghdady commented on #64
Thanks @ybaidiuk  for flagging this issue. I should have considered a variety of audiences including beginners.

[2020-08-17 13:05] #64 closed

[2020-08-17 13:08] kboghdady commented on #65
It sounds to me you are pretty new for pihole.
If you read the Readme there are two options :
1- using the file list where the pihole will update itself.
2- using the script to collect your own Ads from the logs and insert it to the database.
I am not sure how I can help you with your expectation.
at the end of the day, it is an open-source project. you are more than welcome to contribute to it.

[2020-08-17 13:08] #65 closed

[2020-08-17 15:04] ybaidiuk commented on #64
If you forget put correctly documentation it not mean that I beginner :-)

[2020-08-18 23:36] freetextmike opened #66 "Do this work on adblock package on openwrt"
i saw this on the blocklist list and check and it seems not working

[2020-08-27 14:10] Laproxi commented on #66
### It's using an OLD format, so the newer versions of PiHole won't accept it.

- [ ] **Currently, an entry looks like this:**

r5---sn-p5qs7n7z.googlevideo.com

- [X] **However, it should look something like this:**

0.0.0.0 r5---sn-p5qs7n7z.googlevideo.com

@freetextmike

[2020-08-27 19:01] residentcode commented on #66
I tested the list block everything
no video working at all
fresh install

[2020-08-27 19:22] kboghdady commented on #66
@residentcode fresh install on pihole ?
were you using the script or the gravity list?

[2020-08-27 19:27] residentcode commented on #66
yes fresh install on pihole but the script doesn't load, I thing pihole doesn't support blacklist.txt  anymore?
so I added the youtubelist.txt and crowed_list.txt as adlists, anyway those lists blocked every video on youtube including ads lol.

[2020-08-27 19:46] kboghdady commented on #66
the script takes the list and insert it into the database. no longer using the blacklist.txt

[2020-08-27 19:52] residentcode commented on #66
yes but the script doesn't block any video nor any ads  but the adslist block everything this is weird.
I found a trick on the web is when you ad Dot after youtube.com./ all ads disappeared from the video for some reason , can you use this trick somehow for all videos ?

[2020-08-27 19:54] kboghdady commented on #66
are you in the US ?
the gravity list is working great for me, and it blocks the ads.

[2020-08-27 19:56] residentcode commented on #66
no im in Europe

[2020-08-31 02:04] ImDini opened #68 "Doesn't block ads"
After adding it correctly, there is still tons of ads that slip through. Wasn't this list supposed to be updated? I get some ads will come through but it's all..

[2020-08-31 08:55] TeHashX opened #69 "UNIQUE constraint failed"
When I run "sudo youtube.sh" I get errors
  [i] Adding r18.sn-a5mlrn7z.googlevideo.com to the blacklist...
Error: UNIQUE constraint failed: domainlist_by_group.domainlist_id, domainlist_by_group.group_id
  [i] Adding r19.sn-a5mlrn7z.googlevideo.com to the blacklist...
Error: UNIQUE constraint failed: domainlist_by_group.domainlist_id, domainlist_by_group.group_id
  [i] Adding r20.sn-a5mlrn7z.googl

[2020-08-31 18:52] kboghdady commented on #68
I just updated some the ignore list.
I have very few ads which comes from a DNS that do redirection to actual video

[2020-08-31 22:50] ImDini commented on #68
Where do we put the ignore list?

[2020-09-01 13:29] eladkarako opened #70 "[question] How did you've compiled the list of servers?"
I'm pretty sure all those servers are capable of serving both ads and regular-content (correct me if I'm wrong),

as far as I could ever figure out,
this is the minimal way of blocking ads,
https://gist.github.com/eladkarako/7ee77942acc066f930de0268c387239e#file-block-youtube-ads-md
and some of the ads (in-video banners) are unavoidable since they are served by the same servers that serves regular

[2020-09-06 05:08] bktiger86 commented on #68
I am having the same issue. In the US. When I add the two adlist it blocks everything including the original YouTube video. Any idea why?

[2020-09-06 18:18] brunoAmado opened #71 "html message at the end of script execution"
Hi @kboghdady

Thanks for this script. :) (Question: reading the script I don't see a curl for the ignore list, Is it normal?)
Trying from Portugal :)

No Youtube Ads are blocked and I receive a long html from google api that roughly translate to:
Youtube list * Required DNS * Your answer
This is a question
To submit
Never send passwords through Google Forms.
This content was neither created nor a

[2020-09-07 10:41] rssw opened #72 "Both steps, or pick one?"
Hi, it's not clear if we should be adding the list(s) to the ad lists feature and updating with "pihole -g", or to run the script "youtube.sh" on a schedule witch adds the individual domains to the black.list file.

Are these alternative options to adding domains, or should we do both?

[2020-09-07 10:55] rssw opened #73 "Incorrect domains"
Hi,

There are a few urls in the blocklist without the ".com", such as:
  r1.sn-p5qs7n7z.a1.googlevideo

I just noticed when I tried removing all the youtube domians from my gravity.db, and these all stayed.

[2020-09-08 19:44] burnbabyburn commented on #72
If you add url for youtubelist.txt to your pihole => you'll get the blocklist into your dns
if you use his script with cronjob => You get his blocklist + your personal blocklist (which is generated from you pihole database).

[2020-09-08 19:47] burnbabyburn commented on #73
I think thats what he means with this part from README.MD
[code]

[2020-09-09 09:21] DevSaumyadip opened #74 "how did you extract this urls"
https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt

if you please enlight us, how did you manage to get this urs, so that we can also contribute to it and update the list because google throw ads region-specific . and I can update the ads thrown in my region.

[2020-09-13 16:36] kboghdady commented on #72
you can pick one depending on what you prefer
1- Gravity is maintained by me to make sure that it doesn't block actual videos
2- the script benefits of blocking videos that come from your region

[2020-09-13 16:36] #72 closed

[2020-09-13 16:37] kboghdady commented on #66
gravity works in the US.
it might be useful to use the script

[2020-09-13 16:37] #66 closed

[2020-09-13 16:37] kboghdady commented on #73
Thank you will delete that shortly

[2020-09-13 16:37] #73 closed

[2020-09-13 16:39] kboghdady commented on #74
Duplicate of #32

[2020-09-13 16:39] #74 closed

[2020-09-13 16:40] kboghdady commented on #69
it is an issue with pihole maybe this will help : https://discourse.pi-hole.net/t/issue-with-gravity-new-internal-blocking-branch/25612

[2020-09-13 16:40] #69 closed

[2020-09-14 05:04] dvpetta opened #75 "Trouble with videos not playing"
Hello

I'm having trouble viewing videos now on my Android TV after installing your code on my rasberry pi with pi hole.  It seemed like I had ads blocked for the first video but since then I only get ads and no videos. Is there a way to inspect what has happened in pi hole to fix this?

[2020-09-14 13:06] dvpetta commented on #75
I should add that I have whitelisted s.youtube.com

[2020-09-14 13:06] dvpetta commented on #75
I'd like to know how to stop the schedule for this script as well

[2020-09-15 18:59] 91ajames commented on #75
For the schedule part, go back to _crontab -e_ and put a _#_ sign in front of **step 5** code.

Only part im confused with is why add each individual google video in the block list if its available when adding them to the adlist,
just boggles my mind.

the other part..... the list isn't matching up to direct them to 127.0.0.1 to be blocked.
Normally there is 127.0.0.1 url
but just plain url, pihol

[2020-09-17 17:11] PontusTideman opened #76 "After gravity restart, videos is stopped!"
Starting a new one, because this one affects Nvidia Shield! But overall, it seems to affect alot of other devices also.

The problem seems that the script is blocking the autostart of the video when active, and to get the video to start you are forced to FW in the YouTube app on Nvidia to get it to start.

Also, like the other ones mentioned, the script still let some adds to slip thru.

[2020-09-18 05:29] dvpetta commented on #75
Thanks @91ajames but I'm not really understanding your instructions.  Sorry but I'm a newbie at this and I'm not clear on what step 5 is of the code.  Any chance you can spell it out for me?

[2020-09-18 16:35] 91ajames commented on #75
Not a problem @dvpetta

crontab -e

`5-Add this line to make it runs every 1 hour, but you can change it to whatever you like`

`0 */1 * * * sudo /home/pi/youTube_ads_4_pi-hole/youtube.sh >/dev/null `

to

`# 0 */1 * * * sudo /home/pi/youTube_ads_4_pi-hole/youtube.sh >/dev/null `

any code with the pound `#` in front of it is being ignored.

[2020-09-18 18:12] kboghdady commented on #76
I would check the default pihole list as it is blocking s.youtube.com where it blocks the video

[2020-09-18 20:21] 91ajames commented on #68
@bktiger86
after further investigating, I saw this report. Be more helpful if the moder tell users in the readme there are 2 ways to do this which to me found it confusing at first for `videos not working` when `both are enabled`. which i hit a few ad videos playing under private chrome for a test while i use firefox the most.
https://github.com/kboghdady/youTube_ads_4_pi-hole/issues/72

[2020-09-23 04:51] kboghdady commented on #70
Duplicate of #Duplicate of #32

[2020-09-23 04:51] #70 closed

[2020-09-23 09:57] eladkarako commented on #70
May I suggest you'll pin of those, if it is that of a common question.

[2020-09-23 22:53] dragonofthecross opened #77 "youtube not working"
hello so I just installed my pi-hole on my network and I have whitelisted the s.youtube.com.  I am running into the issue of the videos not loading and it keeps on trying to load the video. Any help would be appreciated.

[2020-09-25 22:04] MrWaste commented on #77
Same with me, it doesn't correctly

[2020-10-04 18:09] T-IOOO commented on #77
Lately It feels like every single youtube video loads with native ads (for me only swedish ads), videos loads then stops, videos that wont start at all.

[2020-10-07 12:03] devnoot commented on #77
I had the issue of youtube videos not playing as well (both ads and videos)

[2020-10-09 06:47] iambibhas opened #79 "All the domains got removed in last commit"
https://github.com/kboghdady/youTube_ads_4_pi-hole/commit/e93b1661fc4031b134478e24c7f6c2350fcc0eef

[2020-10-09 13:33] kboghdady commented on #79
Thank you for the feedback.
I just fixed it back

[2020-10-09 13:33] #79 closed

[2020-10-11 13:30] bondskin commented on #68
same with me

[2020-10-11 13:38] kmssd commented on #77
I have videos load and play to an ad, the ad doesn't load but the video never starts again. How can we uninstall this?

[2020-10-13 08:10] konstantin1722 commented on #77
After adding these lists:
https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt
https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/crowed_list.txt
The video stops loading.
Has anyone solved this problem?

[2020-10-18 21:02] wrapper opened #80 "Question to author - Does this work for you?"
Appreciate you taking the time the develop this, but it would be good to learn more about success rates. I have tested the script and like everyone else I have seen, all it does is stop youtube working or just shows ads as usual.

I understand it is near impossible to actually block YT ads with pihole so I'm wondering what we might be able to achieve here.

Thanks!

[2020-10-20 16:53] 91ajames commented on #80
Been wondering the same thing myself and have found greater list than what's posted here.
Last one having the greater list.

For a while my pihole was almost corrupted with everything off and no more googlevideo enabled that nothing would load for a week anymore until i checked my whitelist from some other list that had nothing to do with being with youtube.

[2020-10-20 20:03] blackwiz4rd opened #81 "Add tool removal script"
Hi,
is it possible to add a script/procedure to remove this add-on from pihole?
Thanks

[2020-10-20 20:51] blackwiz4rd commented on #81
Refer to https://github.com/kboghdady/youTube_ads_4_pi-hole/pull/82

[2020-10-20 20:51] #81 closed

[2020-10-22 13:54] daslicht commented on #77
Foe me eth same, no addsnor youtube video  no nothing plays with this list :)

[2020-10-22 13:54] daslicht commented on #77
I still get adds with that list

[2020-10-22 17:54] 91ajames commented on #77
Yea, same. added a few more links here. https://github.com/kboghdady/youTube_ads_4_pi-hole/issues/80

But now, even today, i still have them off, yea can try them out if yea like.

atm, I have directed my pihole to my AdGuard_Home to my unbound server with a few different links and added some on my own through AdGuard Home. Every now n then, pc/tv displayed video ads but not as much. Tested a few

[2020-10-22 21:19] ashleycawley commented on #80
Been following this project for a while now, doesn't seem like it is working or being updated or improved by the author, apart from them adding numerous cryptocurrency donation links to the Readme! I'm outa here.

[2020-10-22 21:51] kboghdady commented on #80
@wrapper Thank you very much for your question. it is working for me on my pihole.
it doesn't block all the ads, but most of them.
keep in your mind that Youtube presents ads based on your region and some of the Ads DNS itself blocks the youtube.
I do as much I can to filter the youtube DNS that block all the videos, but I can't do that for all the regions. that is why I added the ignore list wher

[2020-10-23 02:39] 91ajames commented on #80
What I have also understood, each link is not just region based, but what browser you are currently using which switch's to whatever ad server to the browser. Been noticing the links abit when trying out the same video. Gives me a different googlevideo but mostly the same 2 or 3 links on that one browser which ended up possibly blocking another non ad video on another browser.
What browser and sid

[2020-10-23 09:53] daslicht commented on #77
Thats interesting, I doindt kew adguard home,. Is there also something like UBLock but for teh whole network or atleast before a smart TV :)
Isn't adguard alone sufficient to filter youtube ads or why do we still need pihole
Maybe we could chat somehwre else about  that topic, since it doent belonginto that topichere ? discord ? telegram ? facebook ?

[2020-10-23 15:04] chris-aeviator commented on #80
Can confirm I just installed the list on pihole and of 4 videos I played on my TV (which were all monetized Videos and normally each would show an ad) and only 1 showed an add after a noticeable waitingtime

[2020-10-23 15:31] 91ajames commented on #77
@daslicht
I'm not sure of for ublock, haven't scaward from there yet, anything is possible at this point.
Just adguard alone from the plugin or exe itself is suitable on a pc to remove all youtube ads, yes. But from the network alone? that's the hard part apart from Aguard_Home. They may use the same source but i think they have different functions at play.

idm, I had just generate a new discord

[2020-11-07 20:07] wrapper commented on #80
Appreciate you responding to this @kboghdady

As I mentioned, for me the script stopped YT videos loading. I also wasn't able to remove the googlevideo entries on the blacklist using the script you provided, so I had to remove them manually one by one to get YT to work again.

[2020-11-20 20:53] dockerpirate commented on #75
same problem, this list is overblocking, if I put for example "r3---sn-i5h7lner.googlevideo.com" to whitelist, I can watch a video

[2020-11-21 20:26] wbsmolen opened #85 "your blacklist file has merge diff in it"
see line 2161 in https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/master/black.list

[code]

[2020-11-30 15:17] Ang3er commented on #77
the crowed list seem to start the problem. With only the youtubelist.txt activated everything works just fine

[2020-12-01 18:33] kboghdady commented on #85
Thank you very much. I have fixed that

[2020-12-01 18:33] #85 closed

[2020-12-15 10:15] fugkco commented on #32
@kboghdady any updates on this?

[2020-12-17 02:29] kousu commented on #80
This doesn't seem to be working for Canada anymore. For example, I just loaded a video, got an an ad, and paused it to record the domains I saw in the Web Inspector. Then I cleared the inspector, let it play, and recorded the domains I saw once the content video played. Here's what I got:

Ads:

* https://r2---sn-xaxjugvopjcvm-t0al.googlevideo.com/
* https://r1---sn-xaxjugvopjcvm-t0as.googlevideo.

[2020-12-17 02:37] kousu commented on #75
I believe youtube has switched to serving ads and content from the same servers. I've been watching my Firefox and Chrome network inspectors and if I sort by Domains and compare what's downloading during an ad playing vs what's downloading during. With this blocklist enabled sometimes youtube will play and the ads will be blocked, sometimes the video won't load at all and you need to reload the pa

[2020-12-20 21:37] 91ajames commented on #80
I've been whitelisting roughly 50 links so far. I let the page load and youtube either loops or errors (for live stream). For loops, I lookup each individual 3 links (normally) from that one youtube video thats looping and make a educated guess. since `r1---etc` co-insides with `r1.etc` that I white list both of them to see if the video loads after waiting either right away or up to 10 seconds, an

[2020-12-20 22:08] phelix001 commented on #68
Fresh clone and getting this error:
/home/pi/youTube_ads_4_pi-hole/youtube.sh: 44: /home/pi/youTube_ads_4_pi-hole/youtube.sh: cannot open ignore.list: No such file

Had to rename ignore.list to ignore.list.bak to get it to work.....I'm guessing it's not ignoring anything now.

[2020-12-23 00:48] kboghdady commented on #68
@phelix001
you need to change the repoDir  ## line # 13
# This need to be chnaged to your actual repo dir on your machine
repoDir='/pi/youTube_ads_4_pi-hole'

[2020-12-23 04:03] phelix001 commented on #68
Yes, I did that.... repoDir='/home/pi/youTube_ads_4_pi-hole'

[2021-01-03 20:42] lowrisk75 opened #89 "‘/etc/pihole/blacklist.txt’: No such file or directory"
don't seems to work with the last version of piHole on a raspberry pi 4 / unbound

youtube.sh: 36: youtube.sh: cannot open /pi/youTube_ads_4_pi-hole/ignore.list: No such file
gawk: inplace:47: warning: inplace_begin: Cannot stat `/etc/pihole/black.list' (No such file or directory)
gawk: inplace:47: fatal: cannot open file `/etc/pihole/black.list' for reading (No such file or directory)
gawk: inpla

[2021-01-06 10:29] Khoramyar commented on #80
Just tested on my pi-hole and works. This is great, thanks! :)

Please comment a $XMR link too so I can do my part. Cheers!

[2021-01-20 11:59] ab11bkr opened #91 "Uninstall"
I am trying to uninstall this blacklist so tried the command given:
`/usr/bin/sqlite3 /etc/pihole/gravity.db "delete from domainlist where domain like '%googlevideo.com%' "`
however this returns:
`Error: attempt to write a readonly database`

So then I tried removing all domains from blacklist.txt which was successful, however these domains still show on the blacklist on the pihole admin web inter

[2021-01-20 12:31] xmanwms95 commented on #91
@ab11bkr you would need to add `sudo` to the beginning of the command.  Try something like this:
[code]

[2021-01-20 13:55] ab11bkr commented on #91
Thanks so much. It worked a miracle.

[2021-01-25 04:22] pneu1 commented on #89
Not sure I'm qualified to provide this answer as Im rather new to the whole game, but I had the same error, so simply created the missing file via:
touch /etc/pihole/blacklist.txt
Then ran it again and it started running (it still is after about 10minutes so I may have a whole other issue on my hands as Im not sure if its looping or just a truck load of domains being added)

[2021-01-31 01:16] costispavlou commented on #80
how did you manage to get it working when hundreds of us did not?
i get video ads in every single youtube video..

[2021-02-02 11:52] rednag opened #93 "Doesn't block YT ads"
Hi,

I've added the block list, but I'm still having ads during YT videos especially at the start of the video. What's the matter? Is it not possible to block YT ads?

Thank you

[2021-02-03 17:01] onemillionbucks opened #94 "Discovered something about Google Youtube Ad patterns. (You probably already know)."
Through a night of testing,
my pihole Youtube in-video Ad queries are often in this form.  r3---sn-n4v7knl6.googlevideo.com
I enabled regex blocking on
r1---sn-
...
all the way up to
r7---sn-

But Susan Wojicki is a sneaky bugger.

I ended up blocking the playing of videos this way as well.

The ads and the videos themselves seem to share this regular expression.
Luckily, I have a suspicion that t

[2021-02-03 17:12] onemillionbucks commented on #93
I explained why this is the case today [Feb 3 2021 Issue report]( https://github.com/kboghdady/youTube_ads_4_pi-hole/issues/94)
It's because the queries are hashed (randomized) between videos and ads, so trying to block anything that "looks" like an ad also blacklists the video hashes. So you'll be stuck, not seeing an ad, and not seeing your video play.

[2021-02-05 20:25] wilbertduenk opened #95 "Way too much false positives"
I ended up removing every entry in the blacklist because normal videos wouldn't load anymore. Ad blocking was pretty accurate for 1 hour, but later on normal video's wouldn't load and i started getting ads again, but no videos xD. I'm from the Netherlands btw so I wouldn't recommend this to other Dutchies.

[2021-02-10 18:37] OliverWasson commented on #94
There needs to be an addition to pihole or a script that whenever a "googlevideo" domain is queued it scans the queries if it request two different domains. Then it blocks the ad domain, leaving the video domain alone, everytime.

[2021-02-11 14:58] dstinski opened #96 "Not blocking YouTube Ad on mobile IPhone App and YouTube Video does not play"
I was attempting to watch YouTube videos on the mobile app on my IPhone even with the most up to date blacklist it seems the ad still loaded at the beginning of the video but the actual video just hung with a loading symbol. Not sure if this script is supposed to be exclusive to YouTube website on PC or not.

[2021-02-14 11:36] kamranzafar commented on #96
Same on my Android mobile. Not blocking youtube ads..

[2021-02-17 13:53] Joly0 opened #97 "Argument list to long"
Running the script gives the error "Argument list to long" and exits.
The same error is found here #50 and as i downloaded the script today, the fix is implemented, but it still gives me the error.

[2021-02-17 20:53] tomcruces opened #98 "how pi-hole will update the lists?"
I have the Pi-hole lits (black.list, blacklist.txt, etc) in /etc/pihole, so how pi-hole will update the lists?, because with the step to step the "youTube_ads" list are in  "/home/pi/youTube_ads".

[2021-02-18 02:58] HuiMi24 opened #99 "conflict message in black.list line 9021"
conflict message in black.list line 9021

<<<<<<< HEAD
r1---sn-5uaeznr6.googlevideo.com

[2021-03-08 00:38] CLKRUN commented on #91
`Error: database is locked` after `sudo /usr/bin/sqlite3 /etc/pihole/gravity.db "delete from domainlist where domain like '%googlevideo.com%' "`

[2021-03-08 12:46] CLKRUN commented on #96
Same here

[2021-03-15 14:37] dishather commented on #99
Similar artifacts in youtubelist.txt:

$ diff youtubelist.txt youtubelist_filtered.txt
2161d2160
< <<<<<<< HEAD
2242,2243d2240
< =======
< >>>>>>> d2f35f7df78db44100735cc9bb2b41a5eea3b26c
9224d9220
< >>>>>>> 87d416a3b02885ac656f2890cbe825b1df65fdf0

[2021-03-15 17:23] sando1234 opened #101 "Question"
Hey, if you update the blacklist on your GitHub repository almost daily, can you publish the script with which you do that would certainly interest me and others and possibly develop it further.

[2021-03-26 19:36] burntwilly opened #102 "Pi-Hole Dashboard: "Domains on Blocklist" not updating?"
I believe I have everything configured properly, and while I have no idea if anything is actually working, my question is this: If I am using this with a pi-hole, is the "Domains on Blocklist" on the web dashboard supposed to increase after the youtube.sh script completes?

[2021-04-02 13:23] AlexanderB1290 opened #103 "Inpropper merge"
In the file containing the list of URLs to blocked there is left over from a merge or rebase information.

Strings to search for:
'<<<<<<< HEAD
'>>>>>>> d2f35f7df78db44100735cc9bb2b41a5eea3b26c
'>>>>>>> 87d416a3b02885ac656f2890cbe825b1df65fdf0

[2021-04-16 00:45] lukensmall opened #106 "">>>>>>> 87d416a3b02885ac656f2890cbe825b1df65fdf0" on line 9224 of youtubelist.txt"

[2021-04-24 13:53] ozkan commented on #96
Can you try this for Android?
Settings > Apps & notifications > Youtube > Storage > [Clear Cache & Clear storage]

[2021-04-24 14:15] RHITNL commented on #96
Tried that on my oneplus8 without luck. Video wont start and the detail of video isnt loaded

[2021-05-02 09:08] Igor-GS commented on #106
lines 2242 and 2243 too

[2021-05-18 10:01] kittyzero520 opened #109 "Can adguardhome use this rule?"
I use adguardhome, not PI hole. Is the rule universal?

[2021-05-20 02:09] angelss197200 commented on #109
just asking
what it is the adguard.txt file?

[2021-05-24 16:10] Armag3ddon commented on #97
I get the same error, in line 57:
./youtube.sh: 57: ./youtube.sh: curl: Argument list too long

[2021-05-24 19:38] Armag3ddon commented on #97
Trying to be helpful here:
I installed the script today. My PiHole has been running for quite some time by now (months). I don't know what this script is trying to achieve but sharedlogs is massive. For a test run, I redirected the output to bash and it filled my entire buffer. I don't think this is working as intended.

[2021-05-30 18:05] faxesystem commented on #97
I simply disabled the last lines since the creation of the logs that are uploaded to the author causes this problem.

`#### only disable if you don't like to share your youtube logs to be be added to my list
# sharedlogs=`sudo /usr/bin/sqlite3 /etc/pihole/pihole-FTL.db "select domain from queries where domain like '%googlevideo.com'" |uniq -d |tr '\n' ','`
# curl -sL "https://docs.google.com/forms

[2021-06-01 18:07] Armag3ddon commented on #97
Yes, you can do that but it completely defeats the purpose of sharing the blocked URLs so everyone can benefit from it.

[2021-06-07 11:54] herotm opened #111 "black.txt hasnt been updated recently"
are we going to see more updates soon?

works decent so far

[2021-06-12 13:58] yllekz commented on #111
Also curious about this. This list hasn't been successfully blocking ads on YouTube on the Apple TV, and it actually stops a few legit videos from loading as well.

[2021-06-12 14:02] yllekz commented on #96
Apply TV YouTube app showing ads despite these lists as well

[2021-06-17 17:51] kboghdady commented on #111
I am sorry I was changing my home network and got the server that updates down. I will get it back online soon

[2021-06-17 17:51] #111 closed

[2021-06-18 20:06] kboghdady commented on #109
I use to generate the adguard.txt where you can use it with adgaurd, but I can no longer add it to get it because it becomes so big.
you can get the black.list and convert it with the adguard format

[2021-06-18 20:06] #109 closed

[2021-06-18 20:12] #103 closed

[2021-06-18 20:14] #106 closed

[2021-06-29 16:01] AgentJeffy opened #112 "Blocking YT Videos"
Good Afternoon,

I added 's.youtube.com' to the whitelist and added:
'https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt'
'https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/crowed_list.txt'
to the group-adlists however it's blocking all YT video playing. It will load the thumbnails fine, but will not actually play anything. Just gets stu

[2021-06-29 19:55] kboghdady commented on #112
@AgentJeffy to remove all the list you need to ssh to the pihole system to execute these commands

[2021-06-29 19:57] kboghdady commented on #102
yes it should
also if you run pihole -g you should see the list be update from the internet

[2021-06-29 19:57] #102 closed

[2021-06-29 19:57] kboghdady commented on #101
@sando1234 I will do my best to publish that soon

[2021-06-29 19:57] #101 closed

[2021-07-11 08:26] CedricP-Git opened #113 "It works !"
Hello,
We usually psot topics when it doesn't work... I'm posting mine to say it's working!

Thanks!

[2021-07-11 08:42] CedricP-Git commented on #113
Actually no, it doesn't... worked for like 5 minutes

[2021-07-11 08:43] #113 closed

[2021-07-11 23:22] DaZel77 commented on #112
Can you please write what you just said in code please. This has happened to me as well

[2021-07-16 17:52] kartondoos opened #114 "missing .com on lines"
## Hey kboghdady,
I was using your list and was curious what was in the block list and was a couple of errors in the list.
Maybe they are intentional but if not here are the lines where I think the .com is missing on some of the domains.

Kind regards,
Kartondoos

##
## line 4544-456
r1.sn-p5qs7nek.a1.googlevideo
r2.sn-p5qs7nek.a1.googlevideo
r3.sn-p5qs7nek.a1.googlevideo
r4.sn-p5qs7nek.a1.googlev

[2021-07-30 13:56] jasker5183 commented on #112
I've been using this list with pfBlockerNG for quite some time. But up until around five days started having issues where video's would not load. Even have `s.youtube.com` in the whitelist but still nothing. Any idea what's going on here?

[2021-08-21 06:43] KarolisKirna commented on #89
`sudo ./youtube.sh` is the answer :)

[2021-10-05 09:35] Basti77 opened #115 "does not work on LG TV"
hello and thank you for your work.
Your solution works on T which is opened from a browser, but not on my SmartTV (LG).
the TV got the correct IP settings DNS points to Pihole.
after I have activated this list remains after the start of a YT video ~10 black and then still comes advertising.
Can it be that LG has built a fallback DNS?

[2021-11-11 15:53] Titomrock21 opened #116 "Update youtube list"
Is it possible to add this domains?

r13---sn-4gxx-25gee.googlevideo.com
r1---sn-4gxx-25gel.googlevideo.com
r5---sn-4gxx-25gel.googlevideo.com
r14---sn-4gxx-25gee.googlevideo.com
r5---sn-4gxx-25ge7.googlevideo.com
r4---sn-4gxx-25gel.googlevideo.com
r5---sn-4g5lznek.googlevideo.com
r5---sn-hpa7kn76.googlevideo.com
r6---sn-4gxx-25gee.googlevideo.com 
r5---sn-4gxx-25gee.googlevideo.com
r10---sn-4gxx-

[2021-11-11 17:29] kboghdady commented on #116
Sure

[2021-11-11 21:39] #116 closed

[2021-11-11 21:40] kboghdady commented on #114
Thank you I will fix that

[2021-11-11 21:41] kboghdady commented on #112
it is in the read me
/usr/bin/sqlite3 /etc/pihole/gravity.db "delete from gravity where domain like '%googlevideo.com%' "
pihole -g

[2021-11-11 21:41] #112 closed

[2021-11-11 21:41] #99 closed

[2021-11-11 21:42] #93 closed

[2021-11-11 21:42] #91 closed

[2021-11-11 21:57] #114 closed

[2021-11-11 22:01] kboghdady commented on #115
some TVs start to have a proxy where they kind of avoid the current DNS that you have.
Please check with your pihole if your TV is hitting the pihole and then go out ot not

[2021-11-11 22:01] #115 closed

[2021-11-11 22:02] kboghdady commented on #98
could you please clarify I am not sure I get your question

[2021-11-13 08:53] costispavlou commented on #98
I couldnt for the life of me make this work either.
Apple TV, iPhone, iPad everything plays with ads.
Maybe I'm stupid but I really thought there's no way to block youtube ads via pihole.

[2021-11-13 18:13] beliaev-maksim opened #118 "false positive"
following domain looks like to block videos in Germany
r1---sn-5hne6nsd.googlevideo.com

could it be that the same URL is used for video streaming in one region and for ads in another?

[2021-12-12 09:47] angelperezleon opened #119 "Use my pihole YT blocker!"
https://github.com/angelperezleon/pi-hole-yt-blocks.sh

[2021-12-12 23:58] kboghdady commented on #119
thank you

[2021-12-12 23:58] #119 closed

[2021-12-12 23:59] kboghdady commented on #98
I will work for the a video soon

[2021-12-12 23:59] #98 closed

[2021-12-25 04:25] abeksis opened #120 "Another blocking area"
In my area the block is different, for me it starts from **r3---sn-hgn7rn7k.googlevideo.com** or **rr3---sn-cx1x9-ua8s.googlevideo.com.** I use your code, can you add my list to your update?

Am I sharing my code with you?

[2022-01-14 10:31] Darkepi commented on #68
@kboghdady I have checked and my repoDir is correct repoDir='/home/pi/youTube_ads_4_pi-hole' but I am still receiving the error "/home/pi/youTube_ads_4_pi-hole/youtube.sh: 47: cannot open ignore.list: No such file".

Could you help me?

[2022-01-16 09:21] hrshadhin opened #122 "Merge conflict text in file content"
Hi, please remove those extra lines.
https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/5ee9f7297280cd88493b27a41f47912caf786238/youtubelist.txt#L16459

[2022-01-24 18:53] SamboMambo opened #123 "Cannot delete"
I have tried everything. i even deleted the default adlist, somehow the blocklists keep re appearing.

crontab -e is empty

pinhole -b --nuke clears it for few seconds then they'd come back.

the folder I cloned from here is deleted

can you advise how to stop them from re appearing, they're killing the memory and it doesn't function properly

[2022-01-24 21:35] kboghdady commented on #123
have you used it in the gravity list?
Also, you need to run this command to remove it from your database
/usr/bin/sqlite3 /etc/pihole/gravity.db "delete from domainlist where domain like '%googlevideo.com%' "

[2022-01-25 05:27] SamboMambo commented on #123
Yes, I have tried, I read the description. The issue is thousands of lines are being pushed to the blocklist directly which overloads the memory. It would be easier to push it to a list and have this list gets updated.

Anyway I uninstalled it and did a clean install, that was the only command's getting accepted.

I was getting database is locked in almost everything.

[2022-01-26 21:32] kboghdady commented on #123
you can fork the script into your own repo
and update it to your repo,then use the txt file into your gravity list.

[2022-01-26 21:32] #123 closed

[2022-02-20 10:40] rwb99 opened #124 "Yt ads"
Spent an hour going between pi hole & yt app logging ad traffic. Probably should have (r1 through r20 & rr1 through rr20) for the bbvbax, jvhj5nu & p5qddn7z domains. That I've found so far.

Some at the bottom might be regular vids as no ad videos played.

Seems to only last a few mins.

If ublock on chrome can regex it there has to be a script kitty hack.

I watch yt mostly on smart tv. Would be

[2022-02-21 09:55] lomar92 commented on #124
Unfortunately this is hopeless. I did the same and the problem was that I ended with a black loop on my edge devices. Youtube could not start the video at all. Youtube hosts ads on his very own servers that is why pihole can not block the dns of youtube as you would block the youtube as whole. For me it helps to have ublock and watching youtube videos over the browser.

Even when the script is sch

[2022-03-04 04:21] fu-kgithubagainplease opened #125 "not found"
git clone https://github.com/kboghdady/youTube_ads_4_pi-hole.git

[2022-03-12 14:27] sonnyb9 commented on #97
Disabling the last 2 lines stops the crowd sourced list of *googlevideo.com URLs, but if it doesn’t work anyway it’s the same result. I didn’t see anything the looks like a fix for this. Without a real fix, it’s self defeating.

[2022-05-08 13:55] WhiteSasch opened #127 "Still seeing YouTube ads after installing this"
Hi,

I did everything as you said in your README and I also installed it in crontab, but I am still seeing YouTube ads on every video...

How does this come?

Thanks in advance for your reply.
Kind regards,
WhiteSasch

[2022-06-09 04:11] DickChang commented on #127
the last update to `black.list` was 2022 Jan 24, so chances are you're still seeing ads because this hasn't been updated to cover the ads that you're getting.

[2022-07-07 19:27] larieu opened #129 "The script is not working on centos/fedora based systems."
It starts with this error

/opt/youTube_ads_4_pi-hole/youtube.sh: line 32: dpkg: command not found
sudo: apt-get: command not found

then is going .... crazy

[2022-07-07 19:29] kboghdady commented on #129
you might have the solution here
https://askubuntu.com/questions/491374/terminal-sudo-apt-get-command-not-found

[2022-07-07 19:29] #129 closed

[2022-07-08 05:57] caglai opened #130 "Correction in README File"
Changed black list to block list and white list to allow list.

[2022-07-27 05:15] marufmax commented on #127
same, still seeing youtube ads

[2022-08-22 13:24] Rednekol commented on #125
It's working here though...
can ya send the exact error ya were getting??

[2022-08-27 17:43] rogermiranda1000 commented on #127
Same here

[2022-08-27 18:06] rogermiranda1000 commented on #127
Same here

[2022-10-01 12:10] 0xMakrem opened #132 "16 Domains invalid!"
Hi,

I think the idea of the script is great, but after using it I tested [the initial list ](https://github.com/kboghdady/youTube_ads_4_pi-hole/blob/master/black.list)manually with the command `pihole -g` and here is the result:

  [✓] Status: Retrieval successful
  [i] Analyzed 16 domains, 16 domains invalid!
      Sample of invalid domains:
      - content="github.com">
      - content="github.

[2022-10-01 12:31] 0xMakrem commented on #132
**The problem was solved by reading the documentation.**

Correction if someone fell into the same confusion:
- The initial list `https://raw.githubusercontent.com/kboghdady/youTube_ads_4_pi-hole/master/youtubelist.txt`

@ALL: _I think the file name should be changed because it's may misleading and also because we should stop saying "blacklist"_

[2022-11-17 05:31] arfazero opened #133 "sqlite3 and nice"
the codes a bit jank (i like jank) for the new pihole and you need to install sqlite3 as it looks to be a prerequisite, im also looking at adding a cpu restriction so it can run without completely locking up the pihole and slowing down dns requests,

maybe something like

0 */1 * * * sudo nice -15 /home/pi/youTube_ads_4_pi-hole/youtube.sh >/dev/null

it does seem to do what it says with the YouTub

[2022-11-19 15:23] ageorgios commented on #127
same